<nav class="navbar bg-success">
    <a class="navbar-brand text-dark" href="#">Welcome to This Stupid Page</a>
    <button class= "btn nav-item btn-dark text-light">Scrape something bruh</button>
    <button class= "btn nav-item btn-light text-dark">Un-scrape</button>

</nav>
<div class="jumbotron-fluid bg-warning py-4">
    <h1 class = "display-3 text-dark text-center">SCRAPE-O-MATIC</h1>
</div>
<div class="container">
    <div class ="row">
        <div class="col-12">
            {{#each article}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="{{link}}">Link</a>
                    <button id={{_id}} class="btn btn-dark">Add Note</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>