<div class="jumbotron-fluid bg-warning py-4">
    <h1 class="display-3 text-dark text-center">SCRAPE-O-MATIC</h1>
</div>
<nav class="navbar bg-success flex-row justify-content-center d-flex">

    <button id="scrape-button" class="btn nav-item btn-dark text-light d-flex mx-1 ">Scrape something bruh</button>
    <button id="clear-button" class="btn nav-item btn-light text-dark d-flex mx-1">Un-scrape</button>

</nav>
<div class="container">
    <div class="row">
        {{#each article}}
        <div class="col-md-4 col-12 mx-md-auto m-1">
            <div class="card d-flex">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="{{url}}">{{title}}</h5></a>
                    <button id={{_id}} class="btn btn-dark d-flex .justify-content-center mx-auto">Add Note</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>